.Header {
  background-color: #3F51B5;
  color: white;
  min-height: 80px;
  display: flex;
  justify-content: center;
}
.HeaderInner {
  max-width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media(min-width: 600px) {
    flex-direction: row;
  }
  h1 {
    display: inline;
    margin: 0;
    a {
      color: white;
    }
  }
}

.ShowMenu {
  color: white;
  background-color: transparent;
  border: white 1px solid;
  padding: 10px;
  margin: 10px;
  @media(min-width: 900px) {
    display: none;
  }
}

.Menu {
  a {
    padding: 10px;
    color: white;
  }
  display: none;
  flex-direction: column;
  @media(min-width: 900px) {
    display: flex;
    flex-direction: row;
  }
}

:global .MenuShown :local .Menu {
  display: flex;
}
