.Footer {
  background-color: #001f3f;
  color: white;
  padding: 150px 30px;
  margin-top: 80px;
  a {
    color: lightblue;
  }
}
.Col {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  flex-direction: column;
  div {
    flex: 1
  }
  @media( min-width: 600px ) {
    flex-direction: row;
  }
}
