for article in public.posts._data
  a.articlelink(href="/posts/#{article.slug}")
    i.date #{article.date}
    h3.title #{article.title}

//- - for(var i = public.posts._data.length - 1; i >= 0; i--)
//-   p= public.posts._data[i].slug