.sidebar {
  text-align: center;
  padding: 40px 0;
  @media(min-width: 900px) {
    margin: 40px 0 0;
  }
}
.title {
  margin: 20px 10px;
}
.title a {
  color: white;
}
.subtitle {
  color: #95A5A6;
  padding: 10px;
}
.profilepic {
  width: 180px;
  border-radius: 150px;
}
.Menu a {
  padding: 1rem;
  display: block;
  color: #FFF;
  &:nth-child(odd) {
    background: rgba(0,0,0,0.1);
    &:hover {
      background: rgba(0,0,0,0.3);
    }
  }
  &:nth-child(even) {
    background: rgba(0,0,0,0.2);
    &:hover {
      background: rgba(0,0,0,0.3);
    }
  }
}
.External {
  width: 15px;
  vertical-align: -4px;
  margin: 0 5px;
}
