.sidebar {
  text-align: center;
  padding: 40px 0;
  @media(min-width: 900px) {
    margin: 40px 0 0;
  }
}
.title a {
  color: white;
}
.subtitle {
  color: #95A5A6;
}
.profilepic {
  width: 180px;
  border-radius: 150px;
}
.links {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 15px;
}
.link {
  list-style-type: none;
  padding: 10px;
  float: left;
}
.link a {
  color: #FFF;
  display: inline-block;
  padding: 10px 12px;
  border: 2px solid #95A5A6;
  border-radius: 2px;
  transition: all 0.3s;
  text-decoration: none;
  &:hover {
    background: white;
    color: #111;
  }
}
