.sidebar {
  text-align: center;
  margin: 40px 0 0;
}
.title a {
  color: white;
}
.subtitle {
  color: #95A5A6;
}
.profilepic {
  width: 180px;
  border-radius: 150px;
}
.links {
  display: inline-block;
  margin: 0 auto;
}
.links li {
  list-style-type: none;
  padding: 0 20px 0 0;
  float: left;
}
.links a {
  color: #FFF;
  display: inline-block;
  padding: 8px 10px;
  border: 2px solid #95A5A6;
  border-radius: 2px;
}
