.Presentation {
  margin: 20px 0;
  border-left: 5px solid #1f8dd6;
  padding-left: 10px;
}
.Name {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 2px 0;
}
.Description {
  font-style: italic;
  margin: 4px 0;
}
.Location {
  margin: 2px 0;
}
