.Instagram {
  display: flex;
  flex-wrap: wrap;
}
.PictureContainer {
  width: 25%;
  background-size: cover;
}
.Picture {
  height: 25vw;
  background-size: cover;
}
.PictureBig {
  display: none;
  @media(min-width: 600px) {
    display: block;
  }
}
.PictureSmall {
  display: block;
  @media(min-width: 600px) {
    display: none;
  }
}
