html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif !important;
}
:global #app {
  height: 100%;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  word-break: break-word;
}

code {
  white-space: pre-wrap !important;
  font-size: 1rem !important;
}
pre code {
  padding: unset;
}
code {
    background: rgba(0,0,0,.05);
    padding: 3px 4px;
}
:global .embed {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
:global .embed iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
