doctype
html
  head
    title= title
    link(rel='icon', type='image/jpeg', href='/kevinsimper.jpg')
    link(rel="stylesheet",href="http://fonts.googleapis.com/css?family=Open+Sans:400,600")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    if production
      link(rel="stylesheet",href= assets.main.css )
      script(src= assets.map.js )
    else
      link(rel="stylesheet",href="http://localhost:8080/build/main.css")
      script(src='http://localhost:8080/webpack-dev-server.js')
      script(src='http://localhost:8080/build/map.bundle.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-4309863-18', 'auto');
      ga('send', 'pageview');

  body
    #app!= content
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyClL8CXbqII1QIVaNThKW-E9crgEw7zSYk&libraries=drawing&callback=initMap')
