.Experiences {
  padding: 0;
}
.Experience {
  margin: 20px 0;
  border-left: 5px solid #1f8dd6;
  padding-left: 10px;
}
.Company {
  margin: 0;
}
.Description {
  margin: 4px 0;
  font-style: italic;
}
