.Post {
  margin: 20px 0;
  padding: 15px;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  border-radius: 3px;
}
.Header {
  margin: 0;
  &:hover {
    text-decoration: underline;
  }
}
.Date {
  font-style: italic;
  opacity: 0.8;
}
.MediumLogo {
  width: 25px;
  position: relative;
  top: 6px;
}
