.Post {
  margin: 20px 0;
  border-left: 5px solid #00EA79;
  padding-left: 10px;
}
.Header {
  margin: 0
}
.Date {
  font-style: italic;
  opacity: 0.8;
}
.MediumLogo {
  width: 25px;
  position: relative;
  top: 6px;
}
