.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  @media (min-width: 900px) {
    flex-direction: row;
  }
}
.Sidebar {
  background: #34495E;
  padding: 40px;
  @media (min-width: 900px) {
    width: 30%;
    padding: 60px 40px 0 30px;
  }
}
.Floating {
  @media (min-width: 900px) {
    width: 30%;
    position: fixed;
    left: 0
  }
}
.Content {
  flex: 2;
  padding: 40px;
}
