.Label {
  display: block;
  margin: 10px 0;
}
.Input {
  width: 100%;
  max-width: 300px;
  font-size: 1em;
  padding: 5px;
}
.Textarea {
  width: 100%;
  max-width: 500px;
  height: 300px;
  font-size: 1em;
  padding: 5px;
}
.Submit {
  font-size: 1em;
  padding: 15px 20px;
  margin: 10px 0;
  background: #2a3a4b;
  border: none;
  color: #fff;
}
