.Wrapper {
  max-width: 800px;
  margin: 0 auto;
}
.HelloWorld {
  color: white;
  background: #0074D9;
  padding: 20px;
  line-height: 3rem;
  @media(min-width: 800px) {
    padding: 5vh;
  }
  a {
    color: white;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
.Intro {
  font-size: 2em;
  margin: 0 0 30px;
}
.SecondIntro {
  font-size: 1.3em;
}
.Smiley {
  width: 33px;
}
